.form1 {
    border: 3px dashed black;
    background: linear-gradient(#43c9fe , #d3a4d8 70%);
    min-width: fit-content;
    font-size: 10px;
    color: aliceblue;
    font-family: sans-serif;
    padding: 7px;
    font-weight: bold;
 

}

